---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

body div.container .main,
body div.container .sidebar {
  margin-top : 2em;
}

.content {
  padding: 40px 15px;
}

.sidebar {

}

/* tab color */
.nav-tabs>li>a {
  background-color: #333333;
  border-color: #777777;
  color:#fff;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #666666;
}
