---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

.sidebar {
  position: absolute;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #99999;
  border-right: 3px solid #eee;
}

/* tab color */
.nav-tabs>li>a {
  background-color: #333333;
  border-color: #777777;
  color:#fff;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #666666;
}
