---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

body div.container .main,
body div.container .sidebar {
  margin-top : 2em;
}

.content {
  padding: 40px 15px;
}

.sidebar-panel-heading .panel-heading {
  background-color : #f5f5f5;
}

.sidebar-panel-heading:hover {
  text-decoration : none; 
}

.btn.no-click:hover {
  cursor : default !important;
}

.metric-badge {
  border-radius : 4px;
  padding : 6px 12px;
  color : #fff;
  margin-right : 1em;
}

.metric-badge .badge {
  background-color : #fff;
}

.metric-badge.bg-success {
  background-color : $brand-success;
}

.metric-badge.bg-success .badge {  
  color : $brand-success;
}

.metric-badge.bg-warning {
  background-color : $brand-warning;
}

.metric-badge.bg-warning .badge {  
  color : $brand-warning;
}

.metric-badge.bg-danger {
  background-color : $brand-danger;
}

.metric-badge.bg-danger .badge {  
  color : $brand-danger;
}


/* tab color */
.nav-tabs>li>a {
  background-color: #333333;
  border-color: #777777;
  color:#fff;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #666666;
}
