{% for control in site.controls %}
{{ site.data.callout_primary }}
  <h3>{{ control.title }}</h3>
  {% for control in control.controls %}
    <i>{{ control.control }}</i>
    {% if control.gh-issue %}<li><a href='#{{ control.gh-issue }}'>Github Issue</a></li>{% endif %}
      <div class="progress">
        {{ site.data.alerts.progress_done }}{{ control.done }}{{ site.data.alerts.progress_end }}
        {{ site.data.alerts.progress_doing }}{{ control.doing }}{{ site.data.alerts.progress_end }}
        {{ site.data.alerts.progress_todo }}{{ control.todo }}{{ site.data.alerts.progress_end }}
      </div>
        {{ content }}
  {% endfor %}
{{ site.data.callout_end }}
{% endfor %}
