
{% for control in site.controls %}
  <h3>{{ site.data.alerts.label_primary }}{{ control.number }}{{ site.data.alerts.label_end }} {{ control.title }}</h3>
  {% for item in control.items %}
      <b>{{ item.item }}</b>
      <div class="progress">
        {{ site.data.alerts.progress_done }}{{ item.done }}{{ site.data.alerts.progress_end }}
        {{ site.data.alerts.progress_doing }}{{ item.doing }}{{ site.data.alerts.progress_end }}
        {{ site.data.alerts.progress_todo }}{{ item.todo }}{{ site.data.alerts.progress_end }}
      </div>
      <p>{{ item.output }}</p>
      {% if item.gh-issue %}<li><a href='{{ item.gh-issue }}' target='_blank'>See Github Issue</a></li>{% endif %}
  {% endfor %}
  <p>{{ control.content }}</p>
{% endfor %}
