<h3>Welcome to Data.gov's Authority to Operate Dashboard</h3>
<p>this site is used to manage the status of Authority to Operte (ATO)documentation as well as the documentation itself</p>

<ul>
  <li>AC - Access Control</li>
  <li>AU - Audit and Accountability</li>
  <li>AT - Awareness and Training</li>
  <li>CM - Configuration Management</li>
  <li>CP - Contingency Planning</li>
  <li>IA - Identification and Authentication</li>
  <li>IR - Incident Response</li>
  <li>MA - Maintenance</li>
  <li>MP - Media Protection</li>
  <li>PS - Personnel Security</li>
  <li>PE - Physical and Environmental Protection</li>
  <li>PL - Planning</li>
  <li>PM - Program Management</li>
  <li>RA - Risk Assessment</li>
  <li>CA - Security Assessment and Authorization</li>
  <li>SC - System and Communications Protection</li>
  <li>SI - System and Information Integrity</li>
  <li>SA - System and Services Acquisition</li>
</ul>
