
{% for control in site.data.NIST800 %}
  <h3>{{ site.data.alerts.label_default }}{{ control.number }}{{ site.data.alerts.label_end }} {{ control.title }}</h3>
  {% for item in control.items %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ item.item }}</h3>
        <div class="progress">
          {{ site.data.alerts.progress_done }}{{ item.done }}{{ site.data.alerts.progress_end }}
          {{ site.data.alerts.progress_doing }}{{ item.doing }}{{ site.data.alerts.progress_end }}
          {{ site.data.alerts.progress_todo }}{{ item.todo }}{{ site.data.alerts.progress_end }}
        </div>
        {% if item.note %}<p>{{ site.data.alerts.alert_info }}{{ item.note }}{{ site.data.alerts.alert_end }}</p>{% endif %}
        {% if item.gh-issue %}<a href="{{ item.gh-issue }}" target='_blank' class="btn btn-primary" role="button">Manage</a>{% endif %}
      </div>
  {% endfor %}
      <div class="panel-body">
        <a class="btn btn-danger pull-right" href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ control.path }}">Edit</a>
        <p>{{ control.content }}</p>
      </div>
    </div>
{% endfor %}
