<b>Data.gov's Authority to Operate Dashboard</b>
  <ul class="nav nav-pills nav-stacked">
      <li role="presentation">AC - Access Control</li>
      <li role="presentation">AU - Audit and Accountability</li>
      <li role="presentation">AT - Awareness and Training</li>
      <li role="presentation">CM - Configuration Management</li>
      <li role="presentation">CP - Contingency Planning</li>
      <li role="presentation">IA - Identification and Authentication</li>
      <li role="presentation">IR - Incident Response</li>
      <li role="presentation">MA - Maintenance</li>
      <li role="presentation">MP - Media Protection</li>
      <li role="presentation">PS - Personnel Security</li>
      <li role="presentation">PE - Physical and Environmental Protection</li>
      <li role="presentation">PL - Planning</li>
      <li role="presentation">PM - Program Management</li>
      <li role="presentation">RA - Risk Assessment</li>
      <li role="presentation">CA - Security Assessment and Authorization</li>
      <li role="presentation">SC - System and Communications Protection</li>
      <li role="presentation">SI - System and Information Integrity</li>
      <li role="presentation">SA - System and Services Acquisition</li>
  </ul>

</div>
