<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#intro">Intro</a></li>
  <li><a data-toggle="tab" href="#AC">AC</a></li>
  <li><a data-toggle="tab" href="#AU">AU</a></li>
  <li><a data-toggle="tab" href="#AT">AT</a></li>
  <li><a data-toggle="tab" href="#CA">CA</a></li>
  <li><a data-toggle="tab" href="#CM">CM</a></li>
  <li><a data-toggle="tab" href="#CP">CP</a></li>
  <li><a data-toggle="tab" href="#IA">IA</a></li>
  <li><a data-toggle="tab" href="#IR">IR</a></li>
  <li><a data-toggle="tab" href="#MA">MA</a></li>
  <li><a data-toggle="tab" href="#MP">MP</a></li>
  <li><a data-toggle="tab" href="#PS">PS</a></li>
  <li><a data-toggle="tab" href="#PE">PE</a></li>
  <li><a data-toggle="tab" href="#PL">PL</a></li>
  <li><a data-toggle="tab" href="#PM">PM</a></li>
  <li><a data-toggle="tab" href="#RA">RA</a></li>
  <li><a data-toggle="tab" href="#SC">SC</a></li>
  <li><a data-toggle="tab" href="#SI">SI</a></li>
  <li><a data-toggle="tab" href="#SA">SA</a></li>
</ul>
<div class="tab-content">
  <div id="intro" class="tab-pane fade">
      {% include intro.html %}
  </div>
  <div id="AC" class="tab-pane fade">
      {% include AC.html %}
  </div>
  <div id="AU" class="tab-pane fade">
      {% include AU.html %}
  </div>
  <div id="AT" class="tab-pane fade">
      {% include AT.html %}
  </div>
  <div id="CA" class="tab-pane fade">
      {% include CA.html %}
  </div>
  <div id="CM" class="tab-pane fade">
      {% include CM.html %}
  </div>
  <div id="CP" class="tab-pane fade">
      {% include CP.html %}
  </div>
  <div id="IA" class="tab-pane fade">
      {% include IA.html %}
  </div>
  <div id="IR" class="tab-pane fade">
      {% include IR.html %}
  </div>
  <div id="MA" class="tab-pane fade">
      {% include MA.html %}
  </div>
  <div id="MP" class="tab-pane fade">
      {% include MP.html %}
  </div>
  <div id="PS" class="tab-pane fade">
      {% include PS.html %}
  </div>
  <div id="PE" class="tab-pane fade">
      {% include PE.html %}
  </div>
  <div id="PL" class="tab-pane fade">
      {% include PL.html %}
  </div>
  <div id="PM" class="tab-pane fade">
      {% include PM.html %}
  </div>
  <div id="RA" class="tab-pane fade">
      {% include RA.html %}
  </div>
  <div id="SC" class="tab-pane fade">
      {% include SC.html %}
  </div>
  <div id="SI" class="tab-pane fade">
      {% include SI.html %}
  </div>
  <div id="SA" class="tab-pane fade">
      {% include SA.html %}
  </div>
</div>
