<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#intro">Intro</a></li>
  {% for item in site.data.tabs %}
    {% if item.grouping == 'datagov' %}
    <li><a data-toggle="tab" href="#{{ item.family }}">{{ item.family }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<div class="tab-content">
  <div id="intro" class="tab-pane fade">
      {% include intro.html %}
  </div>
  {% for item in site.data.tabs %}
  <div id="{{ item.family }}" class="tab-pane fade">
      {% include {{ item.family }}.html %}
  </div>
  {% endfor %}
</div>
