<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
{% include nav_top.html %}

<div class="container">
  <div class="col-sm-12 col-md-3 sidebar">
    {% include sidebar.html %}
  </div>  

  <div class="col-sm-12 col-md-9 main">
    {{ content }}

    {% 
        assign todos = 0 
        assign doings = 0 
        assign dones = 0
        assign items = 0
    %}

    {% for control in site.controls %}
        {% if control.family == page.family %}        
            {% for item in control.items %}                
                {% assign items = items | plus:1 %} 
                {% assign todos = todos | plus:item.todo %} 
                {% assign doings = doings | plus:item.doing %} 
                {% assign dones = dones | plus:item.done %}  
            {% endfor %}                          
        {% endif %}
    {% endfor %}

    {% assign issues_total = todos | plus:doings | plus:dones | round: 1 %} 

    {% assign todos_percent = todos | divided_by:issues_total | times:100 %}
    {% assign doings_percent = doings | divided_by:issues_total | times:100 %}    
    {% assign dones_percent = dones | divided_by:issues_total | times:100 %}    

    <h2>Total Progress on {{ items }} Items</h2>

        <div class="progress">
          {{ site.data.alerts.progress_done }}{{ dones_percent }}{{ site.data.alerts.progress_end}}
          {{ site.data.alerts.progress_doing }}{{ doings_percent }}{{ site.data.alerts.progress_end }}
          {{ site.data.alerts.progress_todo }}{{ todos_percent }}{{ site.data.alerts.progress_end }}
        </div>

    {% for control in site.controls %}
        {% if control.family == page.family %}
            

    <h3>
        {{ site.data.alerts.label_default }}
            {{ control.number }}
        {{ site.data.alerts.label_end }}

        {{ control.title }}
    </h3>
    
    {% for item in control.items %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{{ item.item }}</h3><br>
        <div class="progress">
          {{ site.data.alerts.progress_done }}{{ item.done }}{{ site.data.alerts.progress_end}}
          {{ site.data.alerts.progress_doing }}{{ item.doing }}{{ site.data.alerts.progress_end }}
          {{ site.data.alerts.progress_todo }}{{ item.todo }}{{ site.data.alerts.progress_end }}
        </div>

        {% for issue in item.issues %}
        {% if issue.issue == 'info' %}<p>{{ site.data.alerts.alert_info }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.alerts.alert_end }}</p>{% endif %}
        {% if issue.issue == 'todo' %}<p>{{ site.data.alerts.alert_todo }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.alerts.alert_end }}</p>{% endif %}
        {% if issue.issue == 'doing' %}<p>{{ site.data.alerts.alert_doing }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.alerts.alert_end }}</p>{% endif %}
        {% if issue.issue == 'done' %}<p>{{ site.data.alerts.alert_done }}<a href="{{ issue.url }}" target="_blank">{% if issue.text %}{{ issue.text }}{% else %}{{ issue.url }}{% endif %}</a>{{ site.data.alert_end }}</p>{% endif %}
        {% endfor %}
      </div>
      
    </div>
    {% endfor %}



        {% endif %}
    {% endfor %}

  </div>
</div>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>